<div class="sidenav">
 
  <a href="#gerarCalendario">Gerar calendário</a>
  <a href="#visualizarCalendario">Visualizar calendário</a>
</div>
<div class="main">
  <div class="grid-container">
  <div class="item1"> Vigilencis FCUL 
  </div>
 </div>
 <div>
   <br>
    <table class="tg" align="center">
        <tr>
          <th class="tg-0lax">Nome professor</th>
          <th class="tg-0lax">Código da disciplina</th>
          <th class="tg-0lax">Nome da disciplina</th>
          <th class="tg-0lax">Data</th>
          <th class="tg-0lax">Hora início</th>
          <th class="tg-0lax">Hora fim</th>
        </tr>
        <tr>
          <td class="tg-0lax">importar </td>
          <td class="tg-0lax">importar</td>
          <td class="tg-0lax">importar</td>
          <td class="tg-0lax">importar</td>
          <td class="tg-0lax">importar</td>
          <td class="tg-0lax">importar</td>
        </tr>
      </table>
  </div> 